@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Black.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Black.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Bold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Heavy.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Semibold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Medium.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Light.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Thin.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Thin.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "San-Francisco";
    src: url('./fonts/SFProDisplay-Ultralight.eot'); /* IE9 Compat Modes */
    src: url('./fonts/SFProDisplay-Ultralight.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/SFProDisplay-Ultralight.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/SFProDisplay-Ultralight.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Gang-of-Three";
    src: url('./fonts/gang-of-three.eot'); /* IE9 Compat Modes */
    src: url('./fonts/gang-of-three.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/gang-of-three.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/gang-of-three.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

h6 {
    margin: 0;
    font-weight: 400;
    font-size: 0.9rem;
}