.button {
    background: $primary-color;
    border: none;
    color: #fff;
    outline: none;
    padding: 6px 21px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.button:hover {
    background: $primary-color-hover;
    border: none;
}
.button:active {
    background: $primary-color-active;
    border: none;
}
.button-not-active {
    background-color: transparent !important;
    border: 1px solid $light-gray !important;
}
.button-not-active:hover {
    border-color: $heavy-gray !important;
    color: $heavy-gray !important;
}