.ball {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    opacity:1;
    z-index: 50;
    transition: 
        opacity .4s ease-in-out,
        width .2s ease-in-out,
        height .2s ease-in-out;
}

.ball-on-hover {
    opacity: 0;
    transition: 
        opacity .15s ease-in,
        width .15s ease-in,
        height .15s ease-in;
    width: 100px;
    height: 100px;
}